---
import "@fontsource-variable/chivo-mono";
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <slot name="head" />
    <SEO
      description="Descubre el portafolio de Camilo Blandón (ACBC), un Frontend Developer creando experiencias web atractivas y funcionales. Explora proyectos innovadores"
      title="ACBC - Frontend Developer | Portafolio Personal"
    />
  </head>
  <body>
    <SpeedInsights />
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }
  body {
    font-family: "Chivo Mono Variable", monospace;
  }
  html {
    scroll-behavior: smooth;
    background-color: #202020;
  }

  .icon:hover {
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
  }
</style>
