---
import { Header } from "../components/Header";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACBC</title>
  </head>
  <body class="bg-black">
    <Header client:visible />
    <slot />
  </body>
</html>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Tourney:ital,wght@0,100;0,500;0,700;0,800;0,900;1,900&display=swap");
</style>../components/header.tsx ../components/Header.js
