---
import "@fontsource-variable/chivo-mono";
import { Header } from "../components/Header";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACBC</title>
  </head>
  <body>
    <Header client:visible />
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Chivo Mono Variable", monospace;
  }
  html {
    scroll-behavior: smooth;
    background-color: #202020;
  }
</style>
