---
import "@fontsource-variable/chivo-mono";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACBC</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root{
    color-scheme: dark;
  }
body {
    font-family: "Chivo Mono Variable", monospace;
  }
  html {
    scroll-behavior: smooth;
    background-color: #202020;
  }

  .icon:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
  }
</style>
