---
import Layout from "@/layouts/Layout.astro";
import Main from "@/sections/Main.astro";
import About from "@/sections/About.astro";
import Skills from "@/sections/Skills.astro";
import Proyects from "@/sections/Proyects.astro";
import Footer from "@/sections/Footer.astro";
import Learning from "@/sections/Learning.astro";
import Header from "@/sections/Header.astro";
export const prerender = true;
---

<Layout
  title="Camilo Blandon | Frontend Developer - Portfolio"
  description="Descubre el portafolio de Camilo Blandon, Frontend Developer con experiencia en desarrollo web y aplicaciones modernas."
>
  <Header />
  <Main />
  <div class="scroll">
    <Proyects />
    <About />
    <Skills />
    <Learning />
  </div>
  <Footer />
</Layout>

<style is:inline>
  .scroll > .set div:nth-child(2) {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 45%;
  }
  .scroll > .induvidual div:nth-child(2) .item {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
</style>
