---
import { projects } from "@/consts/proyects";

import Card from "@/components/Card.astro";
---

<section id="projects" class="mb-28 flex flex-col">
  <div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-3">
    <h2 class="font-monospace text-5xl mb-2 text-white">Projects</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-white"></span>
  </div>

  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 w-[80%] mx-auto">
    {projects.map((item) => <Card item={item} />)}
  </div>
</section>
