---
type HeaderType = { text: string; id: string };
const headerList: HeaderType[] = [
	{ text: "About me", id: "about" },
	{ text: "Skills", id: "skills" },
	{ text: "Projects", id: "projects" },
	{ text: "Current Learning", id: "learning" },
];
---
<nav class="my-3">
  <div class="flex flex-1 items-center justify-center  ">
    <div class="mx-auto">
      {headerList.map((item) => (
        <a href={`#${item.id}`}>
          <button
            type="button"
            class="text-xs md:text-2xl px-2 py-1 rounded-3xl transition duration-300 hover:scale-110 hover:outline hover:outline-4 "
          >
            {item.text}
          </button>
        </a>
      ))}
    </div>
  </div>
</nav>