---
import GitHubSVG from '../svg/github.astro'//'@svg/github.astro'
import LinkedinSVG from '../svg/linkedin.astro'
---
<section
  class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <h1 class="text-white text-6xl mt-10 text-center xl:text-9xl">
      Camilo Blandon
    </h1>
    <h4 class="text-white text-2xl text-center">Frontend Developer</h4>
    <div class="grid place-content-center grid-flow-col gap-4 p-5">
      <a
      
        >
        <GitHubSVG styles="w-10 fill-white h-10 duration-200 hover:fill-slate-500"/>
        </a
      >
      <a
        ><LinkedinSVG
        syles="fill-white w-10 h-10 rounded-lg duration-200 hover:fill-[#0A66C2]"/>
        </a
      >
    </div>
  </div>
</section>
