<section
  class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <h1 class="text-white text-6xl mt-10 text-center xl:text-9xl">
      Camilo Blandon
    </h1>
    <h4 class="text-white text-2xl text-center">Frontend Developer</h4>
    <div class="grid place-content-center grid-flow-col gap-4 p-5">
      <a
        ><img
          class="text-white hover:text-[#171515] w-10 h-10 rounded-lg"
          src="../../public/bxl-github.svg"
          alt="
        "
        /></a
      >
      <a
        ><img
          class="text-white w-10 h-10 rounded-lg hover:text-[#0e76a8]"
          src="../../public/bxl-linkedin-square.svg"
          alt=""
        /></a
      >
    </div>
  </div>
</section>
