---
import { imgs } from '@consts/Img'
---

<section id="skills" class="mb-10 grid place-content-center h-screen">
  <div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-3">
    <h2 class="text-5xl text-white font-extrabold mb-2">Skills</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-white"></span>
  </div>

  <div class="flex items-center justify-center">
    <div class="flex flex-wrap  mx-60 gap-8 items-center justify-center">
      {
        imgs.map((img) => (
          <img
            src={img.src}
            alt={img.name}
            class="w-20 md:w-20 aspect-square  lg:w-36 xl:w-40 hover:scale-110 duration-300 "
          />
        ))
      }
    </div>
  </div>
</section>
